body {
    background: rgb(255, 0, 64);
    color: rgb(252, 0, 0);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
#all-contents {
  max-width: 1000px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(144, 46, 255);
   margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(74, 0, 170);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #5f0096;
}

/* main container area beneath menu */
main {
    background: rgb(241, 226, 255);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 221px;
}
.content {
    flex: 1;
    padding: 15px;
    
}

/* portfolio styles */
#interests {
    border: 4px rgb(59, 0, 107) ridge;
    padding: 2px;
    border-radius: 10px;
    width: 800px;
    max-width: 1200px
                   }
h2, h3 {
    margin: 0px;
    margin: 
}
/* portfolio styles */
.content h1 {
    color: rgb(80, 0, 53);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #9655ff;
    color: #eed5ff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #000000;
}

#portfolio a {
    text-decoration: none;
    color: #d8c3ff;
}